<!DOCTYPE html>
<html   lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/fragments/mypage_fragment/layout}">
<head>
    <meta charset="UTF-8">
    <title>더쿠쿠 - 즐겨찾기한 매장</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="section-box">
        <div class="section-title">❤️ 좋아요 한 글</div>

        <div class="item" th:each="bm : ${storeBookmarks.content}">
            <a th:href="@{'/storestore/' + ${bm.storeId} + '/detail.do'}" style="display:block;">
                <div class="main" th:text="${bm.store.name}"></div>

                <div class="sub">
                    <span th:text="${bm.store.address}"></span>
                </div>

                <div class="sub">
                    <span th:text="${bm.store.oneLineDesc}"></span>
                    ⊙
                    <span th:text="${bm.store.avgRating}"></span>
                </div>
            </a>
        </div>
    </div>

</div>
</body>
</html>