<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>나의 더쿠쿠</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<!-- 기존 CSS 그대로 사용 -->
<body>
<header class="header" th:fragment="header">
    <div class="header-top container d-flex justify-content-between align-items-center py-2">

        <!-- 로고: mypage으로 이동 -->

            <div class="header-top">
                <a th:href="@{/mypage}" class="logo">← 내정보</a>
            </div>
<!--            <div class="search-area">-->
<!--                <p class="search-meta">내가 찜한 거래 글을 확인해요.</p>-->
<!--            </div>-->



    </div>
</header>
</body>
</html>

