<!DOCTYPE html>
<html   lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/mypage_fragment/layout}">
<head>

    <style>
        /*.item {*/
        /*    display: flex;*/
        /*    flex-direction: column;*/
        /*    background: white;*/
        /*    padding: 18px;*/
        /*    border-radius: 15px;*/
        /*    box-shadow: 0 4px 10px rgba(0,0,0,0.05);*/
        /*    margin-bottom: 15px;*/
        /*    text-decoration: none;*/
        /*    color: black;*/
        /*}*/

    </style>
</head>

<body>

<div layout:fragment="content">

    <div class="section-box">
        <div class="section-title">📢 공지사항</div>

        <div class="list-box">
            <!-- 예시 2 -->

            <!-- 공지사항 반복 출력 -->
            <th:block th:each="n : ${noticeList.content}">
                <a class="item" th:href="@{'/mypage/service/notice/' + ${n.id}}">
                    <span th:text="${n.title}">공지 제목</span>

                </a>
            </th:block>

            <!-- 리스트가 비었을 때 -->
            <th:block th:if="${noticeList.content.isEmpty()}">
                <p style="color:#777; text-align:center; margin-top:20px;">등록된 공지사항이 없습니다.</p>
            </th:block>

        </div>

    </div>

</div>
</body>
</html>
