section#join {}

.join-wrap{
    width: 768px;
    margin: auto;
}

.join-wrap label{
    min-width: 200px;
    font-size: 20px;
}
.join-wrap .input{
    width: calc(100% - 200px);
    padding: 20px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 20px;
}

.join-wrap [type="radio"] {
    transform: scale(1.5);
}
.border-box{
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 20px;
    color: #aaa;
}

.color-accent {
    color: var();
    font-weight: bold;
}

.agree-text{
    font-size: 20px;

}
