<!-- src/main/resources/templates/mypage/likes.html -->
<!DOCTYPE html>
<html   lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/fragments/mypage_fragment/layout}">
<head>
</head>

<body>

<div layout:fragment="content">
<!--    <h2 class="title">나의 더쿠쿠</h2>-->

    <!-- 연결 서비스: BoardLikeService -->
    <div class="section-box">
        <div class="section-title">❤️ 좋아요 한 글</div>

        <div class="list-box">
            <a class="post-item"
                th:each="like : ${boardLikes.content}"
                th:href="@{'/board/' + ${memberId} + '/article/' + ${like.post.id} + '/detail.do'}">

                <div class="post-title" th:text="${like.post.title}"></div>

                <div class="post-info">
                    <span th:text="${like.post.category.name}"></span>
                    ·
                    <span th:text="${#temporals.format(like.post.createdAt, 'yyyy.MM.dd')}"></span>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>