<!DOCTYPE html>
<html   lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/fragments/mypage_fragment/layout}">
<head>
</head>


<body>

<div layout:fragment="content">
    <div class="section-box">
        <div class="section-title">📌 북마크한 게시글</div>

        <div class="list-box">

            <!-- 게시글 북마크 반복 -->
            <a class="post-item"
               th:each="bm : ${postBookmarks.getContent()}"
               th:href="@{'/board/' + ${bm.post.member.id} + '/article/' + ${bm.post.id} + '/detail.do'}">

                <div class="post-title" th:text="${bm.post.title}">게시글 제목</div>

                <div class="post-info">
                    <span th:text="${bm.post.category.name}">카테고리</span>
                    ·
                    <span th:text="${#temporals.format(bm.createdAt, 'yyyy.MM.dd')}">2025.01.01</span>
                </div>
            </a>

        </div>
    </div>
</div>
</body>
</html>
