<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/src/bootstrap-5.3.8-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/auth.css}"/>
    <script src="/src/bootstrap-5.3.8-dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

</head>
<body>

<!-- ✅ 공통 헤더 -->
<div th:replace="~{fragments/header :: header}"></div>

<div class="page">

    <!-- ✅ 각 페이지에서 이 fragment 를 채워넣음 -->
    <main class="content">
        <div layout:fragment="content">


        </div>
    </main>
    <!-- ✅ 공통 푸터 -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <!-- 하단 네비게이션 -->
</div>
    <nav class="bottom-nav">
        <a th:href="@{/}" class="nav-item">
            <span class="icon">🏠</span>
            <span>홈</span>
        </a>
        <a th:href="@{/board}" class="nav-item active">
            <span class="icon">📁</span>
            <span>덕질게시판</span>
        </a>
        <a th:href="@{/mypage}" class="nav-item">
            <span class="icon">👤</span>
            <span>내정보</span>
        </a>
    </nav>
<script layout:fragment="script"></script>
</body>
</html>
