<!DOCTYPE html>
<html   lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/mypage_fragment/layout}">
<head>

</head>
<body>
<div layout:fragment="content">

    <div class="section-box">
        <div class="section-title">💸 내 거래 글</div>

        <div class="list-box">
            <a class="post-item"
               th:each="tp : ${tradePost.content}"
               th:href="@{'/trade/' + ${tp.id} + '/article/detail.do'}">

                <!-- 제목 영역 -->
                <div class="post-title"
                     th:text="'[' + ${tp.status} + '] ' + ${tp.title}">
                </div>

                <!-- 부가 정보 (가격) -->
                <div class="post-info">
                    <span th:text="${#numbers.formatInteger(tp.price, 3, 'COMMA')} + '원'"></span>
                </div>

            </a>
        </div>
    </div>

</div>


</body>
</html>