<!DOCTYPE html>
<html   lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{fragments/fragments/mypage_fragment/layout}">
<head>
</head>
<body>
<div layout:fragment="content">

    <div class="section-box">
        <div class="section-title">📌 내 찜한 거래 글</div>

        <div class="list-box">
            <a class="post-item"
               th:each="bm : ${bookmarks.content}"
               th:href="@{'/trade/' + ${bm.trade.id} + '/article/detail.do'}">

                <!-- 제목 영역 -->
                <div class="post-title"
                     th:text="'[' + ${bm.trade.status} + '] ' + ${bm.trade.title}">
                </div>

                <!-- 추가 정보 영역 -->
                <div class="post-info">
                    <span th:text="${#numbers.formatInteger(bm.trade.price, 3, 'COMMA')} + '원'"></span>
                </div>

            </a>
        </div>
    </div>

</div>
</body>
</html>