<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav class="bottom-nav">
    <a th:href="@{/}" class="nav-item">
        <span class="icon">🏠</span><span>홈</span>
    </a>
    <a th:href="@{/board}" class="nav-item">
        <span class="icon">📁</span><span>덕질게시판</span>
    </a>
    <a th:href="@{/trade}" class="nav-item">
        <span class="icon">💸</span><span>굿즈거래</span>
    </a>
    <a th:href="@{/mypage}" class="nav-item active">
        <span class="icon">👤</span><span>내정보</span>
    </a>
</nav>
</body>
</html>